* {
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  :root {
  --color-primary: #333;
  --color-success: #e7e6e7;
  --color-warning: #000000;
  --color-danger: #d9d9d9;
  --color-danger-variant: #ffffff;
  --color-white: #ffffff;
  --color-light: #f5f5f5;
  --color-black: #000000;
  --color-bg: #f0f0f0;
  --color-bg1: #e0e0e0;
  --color-bg2: #d9d4e7;
  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: var(--color-black);
    background: var(--color-bg);
  }
  
  .container {
    width: var(--container-width-lg);
    margin: 0 auto;
  }
  
  section {
    padding: 6rem 0;
  }
  
  section h2 {
    text-align: center;
    margin-bottom: 4rem;
  }
  
  h1, h2, h3, h4, h5 {
    line-height: 1.2;
  }
  
  h1 {
    font-size: 2.4rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.6rem;
  }
  
  h4 {
    font-size: 1.3rem;
  }
  
  a {
    color: var(--color-black);
  }
  
  img {
    width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .btn {
    display: inline-block;
    background: var(--color-black);
    color: var(--color-white);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
  }
  
  .btn:hover {
    background: transparent;
    color: var(--color-black);
    border-color: var(--color-black);
  }
  
  .btn-primary {
    background: var(--color-danger);
    color: var(--color-black);
  }

  nav {
    background: var(--color-primary);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
  }

  .window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  .footer__container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 6rem;
  }
  
  .footer__socials {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
  }

  .sidenav {
    background: var(--color-bg1);
    position: sticky;
    width: 20%;
    top: 12%;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a {
    color: #000000;
    padding: 30px 5px 30px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  .sidenav a:hover {
    background: #c0c0c0;
  }
